body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    overflow: hidden;
}

pre {
    font-size: 3em;
}

.tick line {
    stroke: #635F5D;
}

.tick text {
    fill: #635F5D;
}

.axis-label {
    fill: #635F5D;
    font-size: 2em;
}

.mark circle{
    fill: #137B80;
}

.mark path {
    fill: none;
    stroke: #137B80;
    stroke-width: 2;
    stroke-linejoin: round;
    stroke-linecap: round;
}