body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
}

pre {
  font-size: 3em;
}

.marks .countries,
.marks .land {
  fill: #137b80;
  stroke-linejoin: round;
  stroke-linecap: round;
}

.marks .background {
  fill: #ececec;
  stroke-linejoin: round;
  stroke-linecap: round;
}

.marks .interiors {
  fill: none;
  stroke: #1cb3bb;
  stroke-width: 1;
  stroke-linejoin: round;
  stroke-linecap: round;
}

.marks .graticules {
  fill: none;
  stroke: #9b9b9b;
  stroke-width: 1;
  stroke-linejoin: round;
  stroke-linecap: round;
}
